
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
<title>Panya Documentation</title>
    <link rel="stylesheet" href="static/classy.css" type="text/css" />
    <link rel="stylesheet" href="static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '',
        VERSION:     '0.0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/underscore.js"></script>
    <script type="text/javascript" src="static/doctools.js"></script>
    <link rel="top" title="Panya v0.0.1 documentation" href="index.html" />
    <link rel="next" title="Managers" href="managers.html" />
    <link rel="prev" title="App Overview" href="app_overview.html" /> 
  </head>
  <body>

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="inclusion-tags">
<span id="id1"></span><h1><a class="toc-backref" href="#id2">Inclusion Tags</a><a class="headerlink" href="#inclusion-tags" title="Permalink to this headline">¶</a></h1>
<p>This document describes inclusion tags provided by the standard set of Panya apps. An inclusion tag returns HTML structures for inclusion within templates. For tags that take some input and returns a modified result see <a class="reference internal" href="template_tags.html#template-tags"><em>template tags</em></a>.</p>
<div class="contents topic" id="contents">
<p class="topic-title first">Contents</p>
<ul class="simple">
<li><a class="reference internal" href="#inclusion-tags" id="id2">Inclusion Tags</a><ul>
<li><a class="reference internal" href="#panya-inclusion-tags" id="id3">Panya Inclusion Tags</a><ul>
<li><a class="reference internal" href="#pager" id="id4">pager</a></li>
<li><a class="reference internal" href="#render-object" id="id5">render_object</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="section" id="panya-inclusion-tags">
<span id="inclusion-tags-panya"></span><h2><a class="toc-backref" href="#id3">Panya Inclusion Tags</a><a class="headerlink" href="#panya-inclusion-tags" title="Permalink to this headline">¶</a></h2>
<p>The following tags are contained in <tt class="docutils literal"><span class="pre">panya.templatetags.panya_inclusion_tags</span></tt>.</p>
<p>To activate them use <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">load</span> <span class="pre">panya_inclusion_tags</span> <span class="pre">%}</span></tt> in your template.</p>
<div class="section" id="pager">
<span id="inclusion-tags-panya-pager"></span><h3><a class="toc-backref" href="#id4">pager</a><a class="headerlink" href="#pager" title="Permalink to this headline">¶</a></h3>
<p>Outputs simple paging controls for a provided <a class="reference external" href="http://docs.djangoproject.com/en/dev/topics/pagination/#page-objects">page</a> object. See Django&#8217;s <a class="reference external" href="http://docs.djangoproject.com/en/dev/topics/pagination/">pagination docs</a> for more info.</p>
<p><strong>Sample usage</strong>:</p>
<div class="highlight-python"><pre>{% pager page_obj %}</pre>
</div>
<p>The resulting HTML is generated by the template located at <tt class="docutils literal"><span class="pre">panya/inclusion_tags/pager.html</span></tt>. Override that template to provide your own custom HTML.</p>
</div>
<div class="section" id="render-object">
<span id="inclusion-tags-panya-render-object"></span><h3><a class="toc-backref" href="#id5">render_object</a><a class="headerlink" href="#render-object" title="Permalink to this headline">¶</a></h3>
<p>Outputs a template based on provided object and type.</p>
<p><strong>Sample usage</strong>:</p>
<div class="highlight-python"><pre>{% render_object object 'listing' %}</pre>
</div>
<p>The template name to use for output is resolved as follows:</p>
<ol class="arabic simple">
<li>Construct template name from the object&#8217;s app-label, model and provided type. For instance with an object of model <tt class="docutils literal"><span class="pre">Book</span></tt> defined in an app labeled <tt class="docutils literal"><span class="pre">library</span></tt>, with type provided as <tt class="docutils literal"><span class="pre">listing</span></tt>, a template name of <tt class="docutils literal"><span class="pre">library/inclusion_tags/book_listing.html</span></tt> would be constructed. The pattern is as follows: <tt class="docutils literal"><span class="pre">&lt;object</span> <span class="pre">app-label&gt;/inclusion_tags/&lt;object</span> <span class="pre">model&gt;_&lt;type&gt;.html</span></tt>.</li>
<li>If a template with name constructed in 1. is not found, fall back to a generic modelbase type template constructed using the pattern: <tt class="docutils literal"><span class="pre">panya/inclusion_tags/modelbase_&lt;type&gt;.html</span></tt>.</li>
<li>If a template with name constructed in 2. is not found, the tag outputs the empty string.</li>
</ol>
<p>Once an appropriate template has been found the template is passed the object in a template context variable called <tt class="docutils literal"><span class="pre">object</span></tt> and its output returned.</p>
<p><strong>Consider the following example:</strong></p>
<p>A model has been defined as follows within the <tt class="docutils literal"><span class="pre">library</span></tt> app:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="k">class</span> <span class="nc">Book</span><span class="p">(</span><span class="n">model</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="n">author</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">128</span><span class="p">)</span>
</pre></div>
</div>
<p>A view has been defined that passes a collection of books to a template in a template context variable called <tt class="docutils literal"><span class="pre">object_list</span></tt>.</p>
<p>View code:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="k">def</span> <span class="nf">books</span><span class="p">(</span><span class="n">context</span><span class="p">):</span>
    <span class="n">objects</span> <span class="o">=</span> <span class="n">Books</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
    <span class="k">return</span> <span class="n">render_to_response</span><span class="p">(</span><span class="s">&#39;books.html&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s">&#39;object_list&#39;</span><span class="p">:</span> <span class="n">objects</span><span class="p">})</span>
</pre></div>
</div>
<p>Template code for <tt class="docutils literal"><span class="pre">books.html</span></tt>:</p>
<div class="highlight-python"><pre>{% load panya_inclusion_tags %}

{% block content %}
    {% for object in object_list %}
        {% render_object object 'listing' %}
    {% endfor %}
{% endblock %}</pre>
</div>
<p>Another seperate template named <tt class="docutils literal"><span class="pre">library/inclusion_tags/book_listing.html</span></tt> has been defined as follows:</p>
<div class="highlight-python"><pre>{{ object.author }}</pre>
</div>
<p>When the <tt class="docutils literal"><span class="pre">render_object</span></tt> tag is encountered in <tt class="docutils literal"><span class="pre">books.html</span></tt>, it constructs a template name of <tt class="docutils literal"><span class="pre">library/inclusion_tags/book_listing.html</span></tt> and its resulting output is included. So in this case the result would be a list of book authors.</p>
<p>This tag enables one to collect objects of various models and output model specific templates without having to include additional template logic.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <a href="http://github.com/praekelt/panya"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8783026-21']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>